// Variables

// Yellow.
@brand-primary: #f2c249;

// Turquoise.
@brand-success: #4db3b3;

// Almost black.
@brand-dark: #3d4c53;

// Orange.
@brand-orange: #e6772e;

// Red.
@brand-red: #e64a45;

@gray-lighter: lighten(#000, 93.5%);
